body>header, body > footer{
    padding: 10px;
    background: orange;
    text-align: center;
    color: white;
}

body>header a{
    display: none;
    float: right;
}

#bookmarksView li a {
    display: block;
}